@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1165px) {
  .container {
    width: auto;
    margin: auto;
  }
}

.header {
  height: 100px;
  border-bottom: 1px solid #ececec;
}

@media (max-width: 745px) {
  .header {
    height: auto;
  }
}

.headerInside {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 745px) {
  .headerInside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
  }
}

@media (max-width: 745px) {
  .headerInside > div, .headerInside form {
    margin-bottom: 15px;
  }
}

.logo {
  width: 165px;
  line-height: 51px;
  background: url(../images/logo.png) no-repeat;
  font-size: 27px;
  font-weight: 300;
  padding-left: 60px;
}

@media (max-width: 745px) {
  .logo {
    width: auto;
  }
}

.logo span {
  color: #f16d7f;
  font-weight: 400;
}

.searchWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
}

.searchBrowse {
  height: inherit;
  padding: 12px;
  font-size: 14px;
  color: #222222;
  background-color: #f9f9f9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #e6e6e6;
}

@media (max-width: 745px) {
  .searchBrowse {
    padding: 11px;
  }
}

.searchWrap input {
  height: inherit;
  padding: 0 3px;
  border: none;
  outline: none;
}

.searchWrap button {
  height: inherit;
  padding: 0 8px;
  border: 0;
  background: none;
  border-left: 1px solid #e6e6e6;
  cursor: pointer;
}

.headerCart {
  margin-left: auto;
  margin-right: 25px;
  text-decoration: none;
}

@media (max-width: 745px) {
  .headerCart {
    display: none;
  }
}

.accountBtn {
  padding: 15px;
  background-color: #f16d7f;
  color: white;
  border: none;
  cursor: pointer;
}

.topNav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 745px) {
  .topNav {
    height: auto;
    padding: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 425px) {
  .topNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.topNav a:not(:last-child) {
  margin-right: 45px;
}

@media (max-width: 425px) {
  .topNav a:not(:last-child) {
    margin-right: 0;
  }
}

.topNav a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #222222;
}

.topNav a:hover {
  color: #f16d7f;
}

.subscribeWrap {
  margin-top: 100px;
  height: 438px;
  background: url(../images/rectangle.png) no-repeat center bottom, rgba(242, 242, 242, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
}

@media (max-width: 1040px) {
  .subscribeWrap {
    height: auto;
  }
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

@media (max-width: 1040px) {
  .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.reviews, .subscribeRight {
  width: calc(100% - 1px);
}

@media (max-width: 1040px) {
  .reviews, .subscribeRight {
    width: auto;
  }
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1040px) {
  .reviews {
    margin-bottom: 50px;
  }
}

.reviewUnit {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 530px) {
  .reviewUnit {
    width: auto;
  }
}

@media (max-width: 353px) {
  .reviewUnit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviewUnitLeft {
  width: 83px;
}

@media (max-width: 530px) {
  .reviewUnitLeft {
    width: auto;
  }
}

.reviewUnitRight {
  width: 386px;
}

@media (max-width: 530px) {
  .reviewUnitRight {
    width: auto;
    margin-left: 15px;
  }
}

@media (max-width: 353px) {
  .reviewUnitRight {
    margin-left: 0;
  }
}

.reviewUnitRight blockquote {
  margin: 0;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  font-weight: 700;
}

.reviewName {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #f16d7f;
}

@media (max-width: 353px) {
  .reviewName {
    text-align: center;
  }
}

.reviewFrom {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
}

@media (max-width: 353px) {
  .reviewFrom {
    text-align: center;
  }
}

.reviewsSwitch {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

@media (max-width: 353px) {
  .reviewsSwitch {
    margin-left: auto;
    margin-right: auto;
  }
}

.reviewsSwitch div {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.reviewsSwitch div:hover {
  background-color: #f16d7f;
  cursor: pointer;
}

.subscribeDivider {
  width: 1px;
  background: #e3e3e3;
}

@media (max-width: 1040px) {
  .subscribeDivider {
    display: none;
  }
}

.subscribeRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribeRightHead {
  font-size: 24px;
  text-transform: uppercase;
  color: #222224;
}

.subscribeRightText {
  margin: 10px 0 35px;
}

@media (max-width: 353px) {
  .subscribeRightText {
    text-align: center;
  }
}

.subscribeForm {
  height: 46px;
}

@media (max-width: 353px) {
  .subscribeForm {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribeForm input {
  height: inherit;
  width: 334px;
  border: none;
  outline: none;
  padding: 0 28px;
  font-weight: 700;
  background-color: #e1e1e1;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  float: left;
}

@media (max-width: 519px) {
  .subscribeForm input {
    width: auto;
  }
}

@media (max-width: 353px) {
  .subscribeForm input {
    float: none;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    height: 46px;
    text-align: center;
  }
}

.subscribeForm button {
  background-color: #f16d7f;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  color: white;
  border: none;
  height: inherit;
  padding: 0 20px;
  outline: none;
  cursor: pointer;
}

@media (max-width: 353px) {
  .subscribeForm button {
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    height: 46px;
    margin-top: 15px;
  }
}

footer {
  margin-top: 100px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footerBrand {
  width: 427px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #898989;
}

@media (max-width: 904px) {
  .footerBrand {
    width: auto;
  }
}

.footerBrandText1 {
  margin: 30px 0;
}

.footerColumn {
  padding-top: 15px;
}

.footerColumn h2 {
  margin: 0 0 30px;
  font-size: 18px;
  font-weight: 700;
  color: #f16d7f;
}

@media (max-width: 904px) {
  .footerColumn h2 {
    margin: 0;
  }
}

.footerColumn a {
  display: block;
  color: #898989;
  font-size: 16px;
  text-decoration: none;
}

@media (max-width: 904px) {
  .footerColumn a {
    display: inline-block;
    padding: 10px;
  }
  .footerColumn nav {
    margin: 0 -10px;
  }
}

.footerColumn a:hover {
  color: #f16d7f;
}

.footerColumn a:not(:last-child) {
  margin-bottom: 25px;
}

@media (max-width: 904px) {
  .footerColumn a:not(:last-child) {
    margin-bottom: 0;
  }
}

.footerDivider {
  display: none;
}

@media (max-width: 904px) {
  .footerDivider {
    display: block;
    width: 100%;
  }
}

.copyrights {
  margin-top: 100px;
  height: 80px;
  background: #e6e6e6;
}

@media (max-width: 500px) {
  .copyrights {
    height: auto;
    padding: 15px;
  }
}

.copyrightsWrap {
  color: #7a7a7a;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .copyrightsWrap {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.copyrightsRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .copyrightsRight {
    margin-top: 30px;
  }
}

.copyrightsRight a {
  text-decoration: none;
  color: inherit;
}

.copyrightsRight i {
  width: 32px;
  height: 32px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.copyrightsRight i:hover {
  color: white;
  background: #f16d7f;
}

.breadcrumb {
  height: 150px;
  background-color: #f8f3f4;
}

.breadcrumbWrap {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 520px) {
  .breadcrumbWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.arrivals {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
  width: 180px;
}

.navArrivals {
  width: 208px;
}

.navArrivals a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}

.navArrivals a:hover {
  color: #f16d7f;
  font-weight: 700;
}

.navArrivals a:last-child {
  font-weight: 700;
  color: #f16d7f;
}

.checkOutWrap {
  margin: 90px auto;
}

.checkOutWrap .checkOutDetails {
  padding-bottom: 25px;
  border-bottom: 1px solid #e8e8e8;
}

.checkOutWrap .checkOutDetails summary {
  position: relative;
  outline: none;
  left: 1px;
}

.checkOutWrap .checkOutDetails summary .checkOutHeader {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  position: absolute;
  left: -1px;
  top: 0;
  background: white;
}

.checkOutWrap .checkOutDetails summary .checkOutHeader:hover {
  color: #f16d7f;
  cursor: pointer;
}

.checkOutWrap .checkOutDetails:not(:first-child) {
  margin-top: 25px;
}

.shippingDetailsWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0 25px;
}

@media (max-width: 700px) {
  .shippingDetailsWrap {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    padding: 0 25px;
  }
}

@media (max-width: 700px) {
  .shippingDetailsLeft {
    margin-bottom: 30px;
  }
}

.shippingDetailsLeft .shippingDetailsHead {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 15px;
}

.shippingDetailsLeft .shippingDetailsDesc {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
  margin-bottom: 30px;
}

.shippingDetailsLeft #reg1,
.shippingDetailsLeft #reg2 {
  display: none;
}

.shippingDetailsLeft label[for="reg1"],
.shippingDetailsLeft label[for="reg2"] {
  display: block;
  margin-bottom: 20px;
  padding-left: 20px;
  background: url(../images/regEmpty.png) no-repeat left center;
}

.shippingDetailsLeft #reg1:checked + label,
.shippingDetailsLeft #reg2:checked + label {
  background: url(../images/regChecked.png) no-repeat left center;
}

.shippingDetailsLeft .shippingRegisterPoint {
  background: url(../images/arrows.png) no-repeat left center;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
  margin-bottom: 15px;
  padding-left: 15px;
}

.shippingDetailsLeft button {
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  border: 1.0px solid #eaeaea;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  cursor: pointer;
  margin-top: 20px;
}

.shippingDetailsRight .shippingLoginForm input,
.shippingDetailsRight .shippingLoginForm label {
  display: block;
}

.shippingDetailsRight .shippingLoginForm label {
  color: #222222;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 700;
}

.shippingDetailsRight .shippingLoginForm label span {
  color: #ff0d0d;
  font-size: 17px;
}

.shippingDetailsRight .shippingLoginForm input {
  border: 1px solid #eaeaea;
  padding: 14px;
  outline: none;
  margin-bottom: 20px;
  width: 65%;
}

@media (max-width: 800px) {
  .shippingDetailsRight .shippingLoginForm input {
    width: auto;
  }
}

.shippingDetailsRight .shippingRequiredLabel {
  color: #ff0d0d;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 30px;
}

.shippingDetailsRight .shippingLoginForm button {
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  padding: 20px 50px;
  cursor: pointer;
}

.shippingDetailsRight .shippingFormForgot {
  margin-left: 30px;
  color: #222222;
  font-size: 14px;
  line-height: 20px;
}

.checkOutWrapGrid {
  margin: 90px auto;
  display: -ms-grid;
  display: grid;
}

.checkOutWrapGrid .checkOutDetails {
  padding-bottom: 25px;
  border-bottom: 1px solid #e8e8e8;
}

.checkOutWrapGrid .checkOutDetails summary {
  position: relative;
  outline: none;
  left: 1px;
}

.checkOutWrapGrid .checkOutDetails summary .checkOutHeader {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  position: absolute;
  left: -1px;
  top: 0;
  background: white;
}

.checkOutWrapGrid .checkOutDetails summary .checkOutHeader:hover {
  color: #f16d7f;
  cursor: pointer;
}

.checkOutWrapGrid .checkOutDetails {
  margin-top: 25px;
}
/*# sourceMappingURL=styleCheckoutGrid.css.map */